<div class="container">

  <div class="row page-container" >
    <div class="col">

      <div class="mx-auto" id="login-container">
        <div><h1>Storyboard</h1></div>
        <div>
          <label>Username:</label> <input [(ngModel)]="username" placeholder="Username" />
        </div>

        <div>
          <label>Password:</label> <input [(ngModel)]="password" type="password" placeholder="Password"/>
        </div>

        <div>
          <button id="login" (click)="login()">Login</button>
          <button id="register" (click)="register()">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>

